:root {
  --color-primary: #0079BF;
  --color-secondary: #0067A3;
  /* Header/Footer */
  --color-secondary-rgb: 0, 103, 163;
  --color-danger: #EB5A46;
  --color-text-main: #E6E6E6;
  --color-text-light: #FFFFFF;
  --color-dark-bg: #1F2A48;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}